
*{
    box-sizing: border-box;
}
body {
    margin-top: 0; 
    margin: 0px;
    padding:0px;   
    font-family: 'Nunito Sans', sans-serif;
    
}

.nv {
    z-index: 1;
    position: sticky;
    top: 0%;
    width: 100%;
    font-weight: 700;
    height:80px;
    background: white;
    display: flex;
    justify-content:space-between;
    align-items: center;     
}


.aclass ul{
    margin:0px;
    padding:0px;
    display: flex;
}

.nv li{
    list-style: none;
}


.nv a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 1rem;
}
.nv .a{

    font-size: 1rem;
    text-decoration: none;
    
    

}
.nv .a:hover{
    font-size: 1.06rem;
    color: green;

    
}

.nv .logo {
    background-image: url('media/logo.png');
    font-family: 1200;
    background-size: contain;
    background-repeat: no-repeat;
    
   margin: 0.5rem;
       
}




.navempty{
    display: none;
    cursor:default;
    margin-right: 40px;
    
}
.nv .tgl{
    display: none;
}
.nv .signin{
    font-size: 1rem;
    text-align: center;
    border: 1.5px solid gray;
    background-color:white;
    border-radius: 20px;
    padding:10px;
    margin-top: 4px;
    margin-right: 25px;
    transition: 0.5s ease-in-out;
}
.nv .order{
    font-size: 1rem;
    text-align: center;
    border: 1.5px solid gray;
    background-color: bisque;
    border-radius: 20px;
    padding:10px;
    margin-top: 4px;
    margin-right: 20px;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
.signin:hover,.order:hover{
    background-color: black;
    color: white;
}


.dropdownmenu{ 
    display:none;
}
.corousel{
  background: #4d4d4f;
}
.corousel .c1 ,.c2,.c3{
    height: 700px;
}

#aboutus{
  background:#d8cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 0px;
}
.abt1{
  width: 50%;
  justify-content: center;
  margin-right: 30px;
}
.abt1 img{
    margin-left: 40px;
    width:700px;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.abt2{
    float:right;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30px;
}
.abt2 h1{
    font-size: 40px;
    padding: 10px;
    font-weight: 650;
}
.abt2 h{
    font-size: 25px;
    padding: 10px;
    font-weight: 900;
    border-bottom: 2px;
    border-color: black;
}
.abt2 p{
    font-size: 22px;
    padding: 10px;
}

.abtbtn{
    display: flex;
    
}
.abt_btn{
    margin-bottom: 30px;
    font-size: 20px;
    margin-top:10px;
    flex-direction: row;
    margin-left: 700px;
    border-radius: 20px;
    background-color: white;
    color: black;  
    transition: 0.5s ease-in-out;  
    padding: 15px;
}
.abt_btn:hover{
    background-color: black;
    color: white;
}
.thankyou{
    display: none;
    background-color:black;
    border-radius: 20px;
    opacity: 0.8;
    text-align: center;
    height: 200px;
    
}
.thankyou h{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 8px;
}
.thankyou p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.screen {
    height: 400px;
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    display: none;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button2 {
    background: none;
    border: none;
    color:rgb(13, 182, 13);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  .app-form-button1{
    background: none;
    border: none;
    color:rgb(182, 15, 15);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button1:hover {
    color: #b9134f;
  }
  .app-form-button2:hover {
    color: #b9134f;
  }
  .app-contact{
    font-size: 15px;
  }
  .overlay{
    position: fixed;
    z-index: 1001;
    width: 100%;
    top:0%;
    margin-top: 100px;   
}
.filter{
    filter: blur(2px)
}
.footer .container{
    max-width: 1170px;
    margin:auto;
  }
  .footer .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  .footer p{
    color: white;
    margin-top: 50px;
    text-align: center;
  }
  .footer .footcontact{
    cursor: pointer;
  }


.empty{
  height: 40px;
}
  
  
  @media (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  

@media(max-width:1277px){

    .abt2{
        margin-left: 150px;
    }
    .abt2 p{
        font-size: 13px;
    }
    .abt2 h1{
        font-size: 27px;
    }
    .abt2 h{
        font-size: 19px;
    }
    .abt1 img{
        height: 100vh;
        width: 550px;
    }
    .abt_btn{
        margin-left: 650px;
    }

}
@media(max-width:1383px){

  .abt2{
      margin-left: 150px;
  }
  .abt2 p{
      font-size: 19px;
  }
  .abt2 h1{
      font-size: 33px;
  }
  .abt2 h{
      font-size: 22px;
  }
  .abt1 p1{
      height: 80vh;
      width: 650px;
      margin-top:20px;
  }
  .abt_btn{
      margin-left: 650px;
  }

}

@media(max-width:1046px){

    #aboutus{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        overflow: hidden;
        
    }
    .abt1{
        order:2;
    }
    .abt1 img{
        margin-left: 0px;   
    }
    .abt2{
        justify-content: baseline;
        margin-left: 0px;
    }
    .abt2 h1{
    font-size: 36px;
    }
    .abt2 h{
        font-size: 32px;
    }
    .abt2 p{
        font-size: 22px;
        font-weight: 340;
    }
    .abt_btn{
        
        margin-left: 500px;
    }
    .abt1 iframe{
        margin-right:100px;
        width: 600px;
        height: 80vh;
        
    }


}
@media(max-width:901px){
.nv .a, .nv .rline{
    font-size: 0.8rem;
}
.abt1 iframe{
    width: 500px;
}
.abtbtn{
        display: grid;
        align-items: center;
        flex-direction: column;
}

.abt_btn{
    margin-left:0px;
    margin-top: 20px;
    width:fit-content;
    margin-left: 400px;
}

}
@media (max-width:810px){
    .nv a{
        display: none;
    }
    .nv .tgl{
        position: absolute;
        display: block;
        right: 40px;
        margin-top: -23px;
        cursor: pointer;
        font-size: 1.5rem;
        z-index:1000;
    }
    .dropdownmenu .x{
        text-decoration: none;
            position: absolute;
            top: 20px; 
            right: 20px; 
            font-size: 24px;
            color: white;
            cursor: pointer;
            z-index: 10000; 
        }

    .dropdownmenu{
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.6); /* for transparency */
    z-index: 9999;
    }
    .sticky{
        position: sticky;
    }
    
    .dropdownmenu .aclass{
        flex-direction: column;
        color:white;
        font-size: 30px;
        font-weight: bold;
        padding: 30px;
        text-align: center;
        
    }
    .dropdownmenu ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        
    }
    .dropdownmenu ul li{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 1.3rem;
    }
    
    .dropdownmenu li a{
        margin-top: 20px;
        text-decoration: none;
        color: white;
        padding: 15px 10px;
        position: relative;
        transition: 0.3s;
        overflow: hidden;
        border-bottom: 1px solid white;
    }
    .abt_btn{
        margin-left: 350px;
    }
}

@media (max-width:670px){

    .abt1 iframe{
        width: 400px;
        height: 70vh;

    }
    .abt_btn{
        margin-left: 250px;
    }
}



@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  .abt1 iframe{
    width:310px;
    height: 67vh;
  }
  .abt_btn{
    margin-left: 220px;
  }
  }
  @media (max-width:423px){
    
    .abt1 iframe{
        width: 280px;
        height: 50vh;
    }
    .abt_btn{
        margin-left: 140px;
    }

}
@media (max-width:391px){
  .abt1 iframe{
      width: 246px;
      height: 50vh;
  }
  .abt_btn{
      margin-left: 100px;
  }

}
@media (max-width:331px){
  .abt1 iframe{
      width: 206px;
      height: 50vh;
  }
  .abt_btn{
      margin-left: 90px;
    
  }

}

@media (max-width:291px){
  .abt1 iframe{
      width: 170px;
      height: 50vh;
  }
  .abt_btn{
      margin-left: 50px;
    
  }

}









